#!/usr/bin/make -f
# debian/rules script
# adapted from Joey Hess's debhelper example by H.Abraham

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=2


configure: configure-stamp
configure-stamp:
	dh_testdir

	# Make sure we use the latest autotools helpers.
	# ln -sf /usr/share/misc/config.sub .
	# ln -sf /usr/share/misc/config.guess .

	# Latest Debian changes involved some Makefile hackery. I prefer to
	# keep the diff small and re-run autotools at build time.
	# [ -x ./autogen.sh ] || chmod a+x ./autogen.sh
	# ./autogen.sh

	./configure --prefix=/usr --enable-maintainer-mode --enable-aspell

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	$(MAKE) 

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) DESTDIR=`pwd`/debian/tmp install-exec


# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
